@import  url(href="https://fonts.googleapis.com/css?family=Cousine|Open+Sans" rel="stylesheet");
*{
  padding: 0px;
}

body{
	padding: 0px;
	/*background: #8B2252;*/
  background: linear-gradient(70deg, #000, #83002c);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
h1{
  font-size: 40px;
  color: #00CD00;
  font-family: 'Open Sans', sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 55px;
}
#container-menu {
  position: absolute;
  display: inline;
  top: 100px;
  text-decoration: none;

}
#container-menu ul {
  position: relative;
  margin-bottom: 20px;
  margin-left: 20px;
  color: white;
  display:inline;
}



#container-menu a{
	display: inline;

}

#container-menu li{
	display: inline;
  margin: 5px;
}

#container-menu ul li a:hover {
  bottom: 5px;
  border-top: 2px solid #00CD00;
}

#container-menu ul li a {
  text-decoration: none;
  position: relative;
  color: #00CD00;
  padding: 10px 30px;
  font-size: 27px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0px;
  box-shadow: 0px 1px 1px #CDCDB4;
  font-family: 'Droid Sans', sans-serif;
  /*top: 80px;*/
  right: 50px;
}

@keyframes slide {
0%  { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
.sld{
  width: 80%;
}
.slider {
  overflow: hidden;
}
.slider figure img {
  width: 20%;
  float: left;
}
.slider figure { 
  position: relative;
  width: 500%;
  margin: 0px;
  /*top:100px;*/
  /*left: 0px;*/
  text-align: left;
  /*font-size: 0;*/
  animation: 10s slide infinite; 
}
 
.menu{
  color: white;
  font-size: 2.0em;
}
.sec-who {
  display: flex;
  justify-content: center;
}
.who{
  width: 90%;
  font-family: impact;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

footer{
  font-size: 25px;
  color: #00cd00;
  position: fixed;
  width:  100%;
  bottom: 0px;
  text-align: center;
}
footer a{
  color: #8B3A3A;
  text-decoration: none;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
  
  #container-menu ul li a {
    font-size: 25px;
  }
  footer {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  
  #container-menu li{
    margin: 0px;
  }
  #container-menu ul {
    margin-left: 85px;
  }
  #container-menu ul li a {
    font-size: 18px;
    padding: 20px;
  }
  footer {
    font-size: 16px;
  }
}
.test{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact{
  /*background: blue;*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  top: 90px;
  text-align: center;
  color: #00cd00;

}
.contact ul {
  list-style-type: none;
}

.contact ul li a {
  text-decoration: none;
}

.contact a {
  color: #8B3A3A;
}

@media (max-width: 400px) {
  
  #container-menu li{
    margin: 5px;
  }
  
  #container-menu ul li a {
    font-size: 20px;
  }

  footer {
    font-size: 18px;
  }